.container {
    margin: 10px 0;
}

.input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
    color: rgb(23, 23, 23);
    border: 0;
    border-radius: 30px;
    background-color: white;
}
::placeholder{
    text-align: center;
}
input[type="text"]{
    text-align: center;
}